/* styles/global.css */
.flashBackground {
  animation: flashBackground 0.5s ease-out;
}

@keyframes flashBackground {
  from {
    background-color: yellow;
  }
  to {
    background-color: white;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
